
/* para decir que a todos los elementos de mi html les quiero aplicar alguna propiedad uso un asterisco */
* {
color:blue; 
}

 /* si yo quiero que a dos elementos distintos les de las mismas propiedades esteticas, los separo por coma*/
p {
    color: red;
    width: 300px;
}
/** esto es un comentario dentro de un documento css*/
h1 { 
    border: 1px solid black;
    padding: 5px;
    /** esta especificacion de cuanto espacio por cada lado, tambien se puede hacer con el padding; otra opcion para ponerlo podria ser en una misma linea, y los valores se corresponden a arriba, derecha izquierda, abajo:  ej:  padding: 30 px 20px 15px 20px */
    margin-top:  40px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold; 
    color:gray
    ;}

   section {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
